{% extends  'layout.html '  %}  
{% block titulo %}
    <h1>Actualizar</h1>
    
{% endblock%}



{% block contenido %}

<form action="/Guardaractualizacion/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for xarticulos in articulos %}
            
            <div class="contenidoActualizar">
                <div hidden='true'> <p>id del articulo {{xarticulos.pk}} </p> <input type="text" value="{{xarticulos.pk}}" name="pk"  >    </div>
                <div  class="actualizar actualizarNombre">
                    <h1>{{xarticulos.nombre}}    </h1>                      
                    <div>
                        <label for="updatenombre">Actualizar nombre</label>
                        <input type="text" name="updatenombre" placeholder="titulo">
                    </div>   
                </div>
            
                <div class="actualizar actualizarImagen">
                    {% if xarticulos.img != "null" and xarticulos.img.url|length >= 1   %}
                       <img src="{{ xarticulos.img.url }}">  

                    {% endif %}
                    <div>
                        <label for="updateimg">Actualizar img</label>
                        <input type="file" name="updateimg" >        
                    </div>    
                </div>

                
                <div class="actualizar">
                        <label>Precio: <strong>{{xarticulos.precio}} </strong> </label>
                        <div>
                            <label for="precio"> Nuevo precio</label>
                            <input type="text" name="updateprecio" placeholder="Precio">                           
                        </div> 
       
                </div >

                <div class="actualizar">
                        <p>descripcion: {{xarticulos.descripcion}}    </p>
                        <div class="actualizarTexarea">
                            <label for="updatedescripcion">Nueva Descripcion</label>
                            <textarea name="updatedescripcion" id="" cols="30" rows="10"></textarea>                              
                        </div>
    
                </div>

                
                <input type="submit" name="" id="" value="Actualizar"> 
             </div>   
         
        {% endfor %}


</form>
{% endblock %}
